#  venv
/venv

# logs
/airflow/logs

# data
/data

#test file
crawler/test2.py

#log
/my_script.log

/.vscode
airflow/dags/__pycache__/jobDag.cpython-37.pyc
airflow/logs/dag_processor_manager/dag_processor_manager.log
airflow/logs/scheduler/latest
