#  venv
/venv

# logs
/airflow/logs

# data
/data

#test file
crawler/test2.py

#log
/my_script.log

/.vscode
airflow/dags/__pycache__/jobDag.cpython-37.pyc
airflow/logs/dag_processor_manager/dag_processor_manager.log
airflow/logs/scheduler/latest
airflow/logs/dag_processor_manager/dag_processor_manager.log
testing.ipynb
crawler/test2.py
unitTesting/__pycache__
.pytest_cache
/__pycache__
test/calculate_id/__pycache__/test_calculate_id.cpython-310-pytest-7.2.2.pyc
.gitignore
test/check_data_available/__pycache__/test_data_available.cpython-310-pytest-7.2.2.pyc
.gitignore
test/download_file/__pycache__/test_manu_job.cpython-310-pytest-7.2.2.pyc
test/create_folder/__pycache__/test_create_folder.cpython-310-pytest-7.2.2.pyc
